body {
  background-color: tomato;
}
a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  background-color: blue;
  margin-bottom: 1px;
  color: black;
}
a:hover {
  background-color: LightBlue;
}

#webnav {
  padding: 3px;
  display: inline-block;
  width: 100%;
  background-color: lightgreen;
}

#rightweb {
  float: right;
}

#centerweb {
  margin-left: 50%;
}
